# Virtual environment
venv/

# Local database
db.sqlite3

# Compiled Python files
*.pyc
__pycache__/

# Migration cache
faq_app/migrations/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini
